div.create-contact {
    width: 100%;
    max-width: 500px;
    margin-inline: auto;
    position: relative;
    padding-top: 2rem;
    padding-inline: 2vw;

    & h1 {
        text-align: center;
    }
}

div.create-contact form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    align-items: center;
    
    & p {
        width: 100%;
        margin: 0;
    }

    & p label {
        display: block;
        width: 100%;
        padding-inline-start: 0.rem;
        margin-bottom: 0.5rem;
    }
	& p input {
		padding: 0.5rem;
	}
    & p input, 
    p textarea {
        width: 100%;
    }

    & p button {
        display: block;
        width: 90%;
        padding: 0.5rem;
        border-radius: 0.5rem;
        margin-inline: auto;
        font-size: 1.25rem;
        border: none;
        background-color: hsl(218.18 44% 75%)
    }
    
}

.create-contact .close-btn {
    position: absolute;
    top: 0;
    font-weight: bold;
    right: 0;
    padding: 0.5rem 1rem;
}

.create-contact.edit-contact input[name='contact-id'] {
    display: none;
}