header {
    display: flex;
    padding: 1rem 1vw;
}
header input {
    margin: auto;
    padding: 0.5rem;
    font-size: 1.25rem;
    width: calc(150px + 35%);
}
header button {
    padding: 0.5rem 0.75vw;
    font-size: calc(1rem + 1vw/3);
}

@media screen and (max-width: 500px) {
    header input {
        width: calc(100px + 30%);
    }
}
