@import url(css/createContact.css);
@import url(css/ContactTableView.css);
@import url(css/header.css);
@import url(css/viewContact.css);
@import url(css/deleteDialog.css);
@import url(css/sidebar.css);
@import url(css/all-labels-pop-up.css);
@import url(css/add-labels-dialog.css);

* {
	box-sizing: border-box;
}
:root {
	font-size: 18px;
}
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
	margin: 0;
	padding: 0;
}
body.fixed-sidebar-show {
	pointer-events: none;
}
#root {
	display: flex;
	flex: 1;
}

.main-content-area {
    display: flex;
    flex-direction: column;
    flex: 1;
	padding: 1vw;
}

@media screen and (max-width: 1000px) {
	:root {
		font-size: 17px;
	}
}

@media screen and (max-width: 700px) {
    :root {
		font-size: 16px;
    }
}
